.rtjs {
  z-index: 99999;
  user-select: none;
  -moz-user-select: none;
}

.rtjs dfn {
  position: relative;
  display: inline-block;
  /* cursor: help; */
}
.rtjs dfn:before {
  content: attr(title);
  font-style: normal;
}
.rtjs dfn > .dfn-tooltip {
  /* display: none; */
  display: block;
  position: absolute; 
  top: calc(1em + 5px);
  max-width: 20em;
  background: #ccc;
  padding: .5em;
  border: none;
}
.rtjs dfn:hover > .dfn-tooltip {
  /* display: block;
  position: absolute; 
  top: calc(1em + 5px);
  max-width: 20em;
  background: #ccc;
  padding: .5em;
  border: none; */
}
.rtjs .dfn-tooltip {
  z-index: 9999;
}

.rtjs .dfn-tooltip img {
  max-width: 12em;
}