{{#if data.wikiSummary}}
  {{!-- <h4 class="trjs__wiki-summary-header">First Wiki Result</h4> --}}

  <p>{{data.wikiSummary.summary}} <span class="wiki-summary__link"><a href="{{data.wikiSummary.link}}" target="_blank">{{data.wikiSummary.title}} on Wikipedia &raquo;</a></span></p>
{{/if}}