<button disabled class="dfn-popover">

  <div id="trjs-close">X</div>

  <h4 class="trjs__header">{{ selected }}</h4>

  {{>'/_wikiSummary'}}

  {{>'/_wikiSearch'}}

  {{>'/_dictionary'}}

  {{>'/_noresults'}}

</button>