<div disabled class="dfn-popover">

  <div id="trjs-close">
    <svg class="icon icon-cancel-circle">
      <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13z"></path>
      <path d="M21 8l-5 5-5-5-3 3 5 5-5 5 3 3 5-5 5 5 3-3-5-5 5-5z"></path>
    </svg>
  </div>
  
  <h4 class="trjs__header fadeInAnimated">{{ selected }}</h4>

  <div class="wiki-summary fadeInAnimated">
    {{>'/_wikiSummary'}}

    {{>'/_wikiSearch'}}
  </div>

  <div class="dictionary-result fadeInAnimated">
    <hr>
    {{>'/_dictionary'}}
  </div>

  {{>'/_noresults'}}

</div>