$font-open-sans: "Open Sans";
$font-crimson-text: "Crimson Text";

$color-highlight: #fff9c4;
$color-dark: #222831;
$color-dark-alt: #393e46;
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #2196F3;
$color-grey: #eeeeee;
$color-grey-light: #aaaaaa;
$color-grey-lighter: #efefef;
$color-red: #f74547;
$color-red-light: #ff8788;
$color-teal: #00adb5;
$color-teal-light: #19d8e0;

$z-index-9999: 9999;

.trjs {
  background-color: $color-highlight;
  user-select: none;
  -moz-user-select: none;
  z-index: $z-index-9999;
  a {
    color: $color-red;
    font-weight: normal;
    text-decoration: none;
    transition: color .4s ease;
    &:hover {
      color: $color-red-light;
    }
  }
  p {
    font-weight: normal;
    font-size: 16px!important;
    line-height: 1.5;
  }
  .trjs-popover.trjs-popover--dark a {
    color: $color-teal;
    &:hover {
      color: $color-teal-light;
    }
  }
  hr {
    background-color: $color-grey-lighter;
    border: 0;
    border-top: 2px solid $color-grey-lighter;
    display: block;
    // height: 1px;
    margin: 20px 0;
    padding: 0;
  }
  .trjs-popover.trjs-popover--dark hr {
    background-color: $color-black;
    border-top: 2px solid $color-black;
  }
  ul {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 5px 0 5px 15px;
  }
  dfn {
    display: inline-block;
    position: relative;
    &:before {
      content: attr(title);
      font-style: normal;
    }
    > .trjs-popover {
      background-color: $color-white;
      border: none;
      border-radius: 7px;
      -webkit-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
      -moz-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
      box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
      display: block;
      min-height: 240px;
      padding: 40px;
      position: absolute; 
      text-align: left;
      width: 400px!important;
      &--dark {
        background-color: $color-dark!important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: $color-grey!important;
      }
    }
  }
  .trjs-popover {
    color: rgba(0, 0, 0, 0.87);
    font-family: $font-open-sans;
    font-style: normal;
    z-index: $z-index-9999;
    &--dark {
      color: $color-grey;
      .trjs__header, .wiki-search__header, .dictionary__header {
        color: $color-grey;
      }
    }
  }
  &__header {
    font-family: $font-crimson-text!important;
    font-size: 35px!important;
    font-weight: 400!important;
    font-style: normal!important;
    line-height: 48px!important;
    margin: 0 0 20px 0!important;
  }
  &__wiki-summary-header {
    animation-delay: 0.3s;
    font-style: normal;
    font-weight: normal;
  }
  .wiki-summary {
    animation-delay: 0.3s;
    &__link {
      white-space: nowrap;
    }
  }
  .wiki-search {
    &__header {
      font-size: 14px!important;
      font-weight: bold;
    }
  }
  .dictionary {
    animation-delay: 0.6s;
    &__header {
      font-family: $font-crimson-text;
      font-size: 20px!important;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    &__pronunciation {
      color: $color-grey-light;
      font-family: $font-open-sans;
      font-size: 16px!important;
      font-style: italic;
      font-weight: normal;
      margin: 0;
    }
    &__type {
      font-weight: normal;
      margin-top: 5px;
      margin-bottom: 25px;
    }
    &__more-link {
      font-size: 16px!important;
    }
  }

  .fadeInAnimated {
    top: 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }
}

.trjs-popover #trjs-close {
  height: 32px;
  position: absolute;
  right: 32px;
  top: 16px;
  width: 16px;
  .icon {
    display: inline-block;
    fill: $color-grey-light!important;
    height: 32px;
    stroke-width: 0;
    stroke: $color-grey-light!important;
    transition: fill .4s ease;
    width: 32px;
    &:hover {
      cursor: pointer;
      fill: $color-black!important;
      stroke: $color-black!important;
    }
  }
}

.trjs-popover.trjs-popover--dark #trjs-close {
  .icon {
    fill: $color-dark-alt!important;
    stroke: $color-dark-alt!important;
    &:hover {
      fill: $color-grey!important;
      stroke: $color-grey!important;
    }
  }
}

.trjs-toggle-container {
  display: block!important;
  position: absolute;
  .trjs-toggle-inner {
    bottom: 60px;
    left: 50px;
    position: fixed;
    z-index: $z-index-9999;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: $color-blue;
      }
      &:focus + .slider {
        box-shadow: 0 0 1px $color-blue;
      }
      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }
  .slider {
    background-color: $color-grey;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    right: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transition: .4s;
    -webkit-transition: .4s;
    width: 100%;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $color-white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  } 
}