$font-open-sans: "Open Sans";
$font-crimson-text: "Crimson Text";

$color-highlight: #fff9c4;
$color-dark: #333333;
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #2196F3;
$color-grey: #cccccc;

$z-index-9999: 9999;

.trjs {
  background-color: $color-highlight;
  user-select: none;
  -moz-user-select: none;
  z-index: $z-index-9999;
  dfn {
    display: inline-block;
    position: relative;
    &:before {
      content: attr(title);
      font-style: normal;
    }
    > .dfn-popover {
      background-color: $color-white;
      border: none;
      -webkit-box-shadow: 0px 0px 9px 1px rgba(204,204,204,1);
      -moz-box-shadow: 0px 0px 9px 1px rgba(204,204,204,1);
      box-shadow: 0px 0px 9px 1px rgba(204,204,204,1);
      display: block;
      min-height: 15em;
      padding: 2.5em;
      position: absolute; 
      text-align: left;
      width: 30em;
    }
  }
  .dfn-popover {
    color: rgba(0,0,0,0.87);
    font-family: $font-open-sans;
    font-style: normal;
    z-index: $z-index-9999;
  }
  &__header {
    color: $color-dark;
    font-family: $font-crimson-text;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    line-height: 48px;
    margin: 0 0 20px 0;
  }
  &__wiki-summary-header {
    font-style: normal;
    font-weight: normal;
  }
}

#trjs-close {
  height: 2rem;
  position: absolute;
  right: 2rem;
  top: 1rem;
  width: 1rem;
  .icon {
    display: inline-block;
    fill: $color-grey;
    height: 2rem;
    stroke-width: 0;
    stroke: $color-grey;
    transition: fill .4s ease;
    width: 2rem;
    &:hover {
      cursor: pointer;
      fill: $color-black;
      stroke: $color-grey;
    }
  }
}

.trjs-toggle-container {
  display: block!important;
  position: absolute;
  .trjs-toggle-inner {
    bottom: 60px;
    left: 50px;
    position: fixed;
    z-index: $z-index-9999;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: $color-blue;
      }
      &:focus + .slider {
        box-shadow: 0 0 1px $color-blue;
      }
      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }
  .slider {
    background-color: $color-grey;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    right: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transition: .4s;
    -webkit-transition: .4s;
    width: 100%;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $color-white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  } 
}